@import "base.less";
@import "footer.less";

.background-header {
    position: absolute;
    color: #f8f8f8;
    .height(150px, 150px);
    z-index: -1;
   	left: 100px;
    top: 430px;
}

.about-photo {
    height: 400px;
    margin-bottom: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-header-container .about-header {
	padding-top: 10px;
	.height(50px, 35px);
}

.text-content {
    text-align: justify;
    margin-top: 10px;
    .line-height(22px, 14px);
}

.text-header {
	padding: 10px 0px;
    .height(40px, 22px);
}

@media (min-width: 768px) and (max-width: 1199px) {
    .about-photo {
        height: 300px;
    }
    .background-header {
        top: 330px;
    }
}


@media (max-width: 767px) {
    .background-header {
        display: none;
    }
    .about-photo {
        height: 200px;
        margin-bottom: 10px;
    }
}
