body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.menu-bar {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.menu-bar ul {
  list-style: none;
}
.menu-bar ul li {
  width: auto;
  height: auto;
  display: inline-block;
  text-align: center;
  padding: 0px 15px;
}
.menu-bar ul li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: block;
  vertical-align: center;
  color: black;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 20px;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}
.menu-bar ul li:hover {
  border-top: 4px #00237d solid;
}
.menu-bar ul li.selected {
  border-top: 4px #ed1c24 solid;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .menu-bar ul li {
    padding: 0px 10px;
  }
  .menu-bar ul li a {
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    padding-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .menu-bar ul li {
    padding: 0px 5px;
    text-align: center;
  }
  .menu-bar ul li a {
    height: 25px;
    line-height: 25px;
    font-size: 11px;
    padding-bottom: 15px;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.menu-bar {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.menu-bar ul {
  list-style: none;
}
.menu-bar ul li {
  width: auto;
  height: auto;
  display: inline-block;
  text-align: center;
  padding: 0px 15px;
}
.menu-bar ul li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: block;
  vertical-align: center;
  color: black;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 20px;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}
.menu-bar ul li:hover {
  border-top: 4px #00237d solid;
}
.menu-bar ul li.selected {
  border-top: 4px #ed1c24 solid;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .menu-bar ul li {
    padding: 0px 10px;
  }
  .menu-bar ul li a {
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    padding-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .menu-bar ul li {
    padding: 0px 5px;
    text-align: center;
  }
  .menu-bar ul li a {
    height: 25px;
    line-height: 25px;
    font-size: 11px;
    padding-bottom: 15px;
  }
}
.footer-container {
  margin-top: 50px;
  width: 100%;
  background-color: #eeeeee;
  color: white;
}
.footer-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-container a {
  color: #000000;
}
.footer-content {
  margin-top: 20px;
}
.list-header {
  color: #000000;
  height: 20px;
  line-height: 20px;
  font-size: 17px;
  margin: 10px 0px;
}
.contact-container,
.sitemap-container {
  /* Override Bootstrap Styles */

}
.contact-container a,
.sitemap-container a {
  text-align: left;
  text-decoration: none;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
}
.contact-container a:hover,
.sitemap-container a:hover {
  color: #4d4d4d;
}
.sitemap-container ul li {
  display: inline-block;
  vertical-align: top;
}
.sitemap-container ul li:before {
  content: "/";
  padding: 0 2px;
  color: #000000;
}
.tabling-container {
  color: #000000;
}
.tabling-container div {
  height: 20px;
  line-height: 20px;
  font-size: 13px;
}
.social-container ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.social-container ul li {
  padding-right: 20px;
  display: inline-block;
}
.social-container ul .facebook {
  background: url(../images/no-border/facebook.png) no-repeat;
}
.social-container ul .email {
  background: url(../images/no-border/email.png) no-repeat;
}
.social-container ul .icons {
  -webkit-backface-visibility: hidden;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background-size: 50px;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.social-container ul .icons:hover {
  -webkit-backface-visibility: hidden;
  cursor: pointer;
  background-size: 50px;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.social-container ul .icons:hover {
  -webkit-backface-visibility: hidden;
  cursor: pointer;
  background-size: 50px;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.footer-bottom-container {
  margin: 30px auto 20px auto;
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  text-align: center;
  color: #000000;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .social-container ul li {
    padding-right: 5px;
  }
  .social-container ul .icons {
    -webkit-backface-visibility: hidden;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background-size: 40px;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }
  .social-container ul .icons:hover {
    -webkit-backface-visibility: hidden;
    cursor: pointer;
    background-size: 40px;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  .social-container ul .icons:hover {
    -webkit-backface-visibility: hidden;
    cursor: pointer;
    background-size: 40px;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  .list-header {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .footer-column {
    text-align: center;
  }
  .footer-column ul {
    margin: 0px 5px;
  }
  .footer-column ul li a {
    font-size: 13px;
    text-align: center;
  }
  .tabling-container div {
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
  }
  .footer-bottom-container {
    margin-top: 30px;
  }
}
.background-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  position: absolute;
  color: #f4f4f4;
  top: 50px;
  left: 15%;
  height: 150px;
  line-height: 150px;
  font-size: 150px;
  z-index: -1;
}
.header-container {
  height: 100px;
  display: block;
  margin-bottom: 20px;
}
.header-text-container {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
}
.header-text-container .header-text {
  padding-left: 50px;
}
.year-menu-container {
  margin-top: 50px;
}
.year-menu {
  float: right;
}
.year-menu .year-link {
  cursor: pointer;
  padding: 0 10px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  font-size: 17px;
  color: #1896d5;
}
.year-menu .year-link:hover {
  color: #1376a7;
}
.officer-picture {
  width: 196px;
  height: 196px;
  margin: 0 auto;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 2px solid #eeeeee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.officer-content {
  width: 85%;
  margin-left: 7.5%;
}
.officer-content .officer-name,
.officer-content .officer-position,
.officer-content .officer-subtitle {
  text-align: center;
  padding-bottom: 5px;
}
.officer-content .officer-name {
  height: 25px;
  line-height: 25px;
  font-size: 20px;
}
.officer-content .officer-position {
  height: 15px;
  line-height: 15px;
  font-size: 13px;
  font-weight: 400;
}
.officer-content .officer-subtitle {
  height: 15px;
  line-height: 15px;
  font-size: 13px;
}
.officer-content .officer-description {
  text-align: justify;
  line-height: 18px;
  font-size: 13px;
}
.officer {
  margin-bottom: 25px;
}
.year-header {
  height: 60px;
  line-height: 60px;
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 15px 0;
  padding-left: 40px;
}
.year-header .top-link {
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  color: #1896d5;
}
.year-header .top-link:hover {
  color: #1376a7;
}
.past-year-container {
  margin-top: 20px;
}
.past-left-container .left-content {
  position: relative;
  margin: 0 auto;
}
.past-left-container .left-content .past-primary-picture {
  width: 136px;
  height: 136px;
  margin: 0 auto;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 2px solid #eeeeee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.past-left-container .left-content .past-primary-name,
.past-left-container .left-content .past-primary-position {
  text-align: center;
}
.past-left-container .left-content .past-primary-name {
  margin-top: 10px;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
}
.past-left-container .left-content .past-primary-position {
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
}
.past-officers-row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.past-officers-row .past-officer .past-officer-name {
  height: 20px;
  line-height: 20px;
  font-size: 16px;
}
.past-officers-row .past-officer .past-officer-position {
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .officer-picture {
    width: 146px;
    height: 146px;
    margin: 0 auto;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 2px solid #eeeeee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
  }
  .officer-content .officer-name {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .background-header,
  .year-menu-container,
  .top-link {
    display: none;
  }
  .header-container {
    width: 250px;
    position: relative;
    text-align: center;
    height: 55px;
    line-height: 55px;
    font-size: 40px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .header-text-container .header-text {
    padding-left: 0;
  }
  .year-header {
    padding-left: 0;
    font-size: 38px;
  }
  .past-left-container .left-content {
    margin-bottom: 15px;
  }
  .past-left-container .left-content .past-primary-name {
    font-size: 17px;
  }
  .past-left-container .left-content .past-primary-position {
    font-weight: 400;
    font-size: 11px;
  }
  .past-right-container .right-content {
    margin-top: 15px;
  }
  .past-officers-row {
    margin: 0;
  }
  .past-officers-row .past-officer {
    text-align: center;
    margin-bottom: 5px;
  }
  .past-officers-row .past-officer .past-officer-name {
    font-size: 14px;
  }
  .past-officers-row .past-officer .past-officer-position {
    font-weight: 400;
    font-size: 12px;
  }
}
