.background-header {
    .font(@main-font, 300);
    position: absolute;
    color: #f4f4f4;
    top: 40px;
    left: 25%;
    .height(150px, 150px);
    z-index: -1;
}

@header-height: 100px;
.header-container {
    height: @header-height;
    display: block;
    margin-bottom: 20px;
}
