body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.menu-bar {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.menu-bar ul {
  list-style: none;
}
.menu-bar ul li {
  padding-top: 20px;
  display: inline-block;
  text-align: center;
  width: 20%;
}
.menu-bar ul li a {
  display: block;
  vertical-align: center;
  color: black;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 17px;
  text-decoration: none;
}
.menu-bar ul li:hover {
  border-top: 8px #ed1c24 solid;
  padding-top: 12px;
}
.menu-bar ul li.selected {
  padding-top: 12px;
  border-top: 8px #ed1c24 solid;
}
.header-event {
  height: 350px;
  background-image: url("../images/picture2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 20px;
}
.header-event .header-event-text-container {
  width: 20%;
  height: 100%;
  background: grey;
  opacity: 0.5;
}
.events-menu-container {
  display: block;
  width: 100%;
  height: 45px;
}
.events-menu-container .events-menu {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.events-menu-container .events-menu li {
  display: inline-block;
  margin: 5px 20px;
  text-align: center;
  padding: 5px 20px;
  width: 100px;
}
.events-menu-container .events-menu li .active {
  color: blue;
}
.events-menu-container .events-menu li a {
  display: block;
  vertical-align: center;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  color: black;
  width: 100%;
  text-decoration: none;
}
.events-menu-container .events-menu li:hover a {
  background: #eee;
}
.event-row .event {
  height: 200px;
}
.event-row .event.one {
  position: relative;
  background-image: url("../images/event1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.event-row .event.one:hover {
  cursor: pointer;
}
.event-row .event.two {
  position: relative;
  background-image: url("../images/event3.jpg");
  background-size: cover;
  background-position: center 25%;
  background-repeat: no-repeat;
}
.event-row .event.two:hover {
  cursor: pointer;
}
.event-row .event.three {
  background-color: green;
}
.event-text-container {
  position: absolute;
  width: 100%;
  background-color: white;
  opacity: 0.85;
  margin-top: 25px;
  height: 175px;
}
.event-text-container .event-title {
  position: relative;
  background-color: #454545;
  opacity: 0.85;
  height: 25px;
  color: white;
  width: 100%;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  font-weight: 300;
}
.event-text-container .event-title .title-arrow {
  float: right;
  text-align: left;
  height: 25px;
  line-height: 25px;
  font-size: 18px;
  margin-right: 25px;
}
.event-subtitle {
  position: relative;
  height: 150px;
}
.event-subtitle .event-subtitle-content {
  height: 100px;
  margin: 25px 40px;
  margin-right: 0;
}
.event-subtitle .blocks {
  display: inline-block;
  vertical-align: top;
  height: 37.5px;
  line-height: 37.5px;
  font-size: 25px;
}
.event-subtitle .subtitle-text {
  margin-left: 15px;
  font-size: 14px;
}
.event-subtitle .links {
  font-size: 14px;
  margin-right: 20px;
}
.event-subtitle .links a {
  text-decoration: none;
}
