@import "base.less";
@import "footer.less";

body {
    .font(@main-font, 300);
}

.cover-photo-container {
    position: relative;
    height: 400px;
    width: 100%;
    .flexslider{
        width: 100%;
        position: absolute;
        height: 400px;
        background: none;
        border: none;
        box-shadow: none;
        z-index: -100;
    }
}

.events-banner-container .events-banner {
    background-color: black;
    .height(25px, 12px);
    color: white;
    .font(@main-font, 300);
    text-align: center;
    margin-bottom: 10px;

}

.header {
    margin-top: 30px;
    .height(30px, 22px);
    font-weight: 300;
}

.text-content {
    text-align: justify;
    margin-top: 10px;
    .line-height(21px, 14px);
}

.news-date {
    padding-right: 10px;
    color: #0e5579;
}

.flex-image {
    height: 400px;
    &.image1 {
        background: url("../images/picture2.jpg") center center no-repeat;
        background-size: cover;
    }
    &.image2 {
        background: url("../images/picture3.jpg") center center no-repeat;
        background-size: cover;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .cover-photo-container, .flex-image {
        height: 300px;
    }
}


@media (max-width: 767px) {
    .cover-photo-container, .flex-image {
        height: 200px;
    }
    .header {
        height: auto;
        text-align: center;
        font-size: 18px;
    }
    .events-banner-container {
        display: none;
    }
}

